.main {
  width: 60%;
  margin: 0 auto;
  height: 380px;
  background: #74ebd5;
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  );
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  );

  border-radius: 5px;
}
